@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

header{
    height: 200px;
    background-image: linear-gradient(to bottom, #28A461, #04421E);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
 
}

body{
    background-color: #E9E6C3;
    margin: 0px;
}

h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    margin-top: 0px;
}

p.menu{
    color: white;
    text-align: center;
}

nav > a{
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

nav.menu{
    padding-top: 65px;
}

h2{
    font-family: 'idroid';
    margin-top: 0;
    color: #04421E;
    text-transform: uppercase;
}

h3{
    font-family: 'idroid';
    color: #04421E;
    background-image: linear-gradient(to right, #289756, white );
}

main{
    background-color: white;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

p{
    text-align: justify;
    text-indent: 20px;
}

p > a{
    background-color: #289756;
    text-decoration: none;
    color: #04421E;
}

strong{
    color: #04421E;
}

section{
    background-color: #35bd74;
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
}

ul{
    columns: 2;
}

h4{
    background-color: #04421E;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    color: white;
}

div.video{
    background-color: #04421E;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
  
}

div > iframe{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;   
    margin: auto;
}

section > p{
    padding: 0px 15px 15px 0px;
}

nav > a:hover{
   background-color: #196e3c;
}

img{
    max-width: 100%;
}

img.pequena{
    max-width: 50%;
    display: block;
    margin: auto;
}